@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte-1:'Sriracha', cursive;
    --fonte-2: 'Passion One', cursive;
    --fonte-3:Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    text-align: center;
    color: white;
}
h1 {
    padding-top: 50px;
    font-family: var(--fonte-2);
    font-size: 6vw;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
    font-family: var(--fonte-3);
    font-weight: bold;
    font-size: 2vw;
}

div{
    padding-left: 40px;
    font-family: var(--fonte-1);
    font-size: 2.5vw;
    line-height: 2em;
}
div > p{
    padding-bottom: 2em;
}
#estrofe-1 > p{
    padding-top: 3em;
}
.imagem{
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px  rgba(0, 0, 0, 0.562);
}
#estrofe-2{
    background-image: url('/imagens/background001.jpg');


}
#estrofe-4{
    background-image: url('/imagens/background002.jpg');
}
#estrofe-2 > p, #estrofe-4 > p{
    background-color: rgba(0, 0, 0, 0.507);
    display: inline-block;
    padding: 5px;
    margin: 10px -5px;
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px  3px black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: var(--fonte-3);
}
a{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-1);
}
a:hover{
    text-decoration: underline;
    font-family: var(--fonte-2);
}
